body {
    background-color: #028090;
}

.container {
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    margin-top: 80px;
    display: grid;
    height: 80vw;
    width: 800px;
    margin: 100px auto;
    display: grid;
}

.mittkonto {
    grid-row: span 1;
    grid-column: 12/16;
    font-family: sans-serif;
    font-size: 36px;
    color: white;
}

.bokningar {
    font-family: sans-serif;
    font-size: 36px;
    color: white;
}

.rehabgym {
    font-family: sans-serif;
    font-size: 36px;
    color: white;
}

.menu {
     font-size: 36px; 
     color: white;
     align-self: auto;
     grid-row: span 12;
     grid-column: span 1;
     position: fixed;
     height: 100vh;
     width: 45vh;
     display: none;
}

i.material-icons {
    font-size: 32px;
    cursor: pointer;
    color: white;
}

.menu ul {
    font-family: sans-serif;
    font
}

.show{
    background-color: #05668D;
    -webkit-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 10px 0px 5px 0px rgba(0,0,0,0.45);
    display: block;
}

.erbjudande_1 {
    background-color: peachpuff;
    grid-row: span 3;
    grid-column: span 2;
}

.erbjudande_2 {
    background-color: hotpink;
    grid-row: span 3;
    grid-column: span 2;
}

.header {
    height: 50px;
    width: 100%;
    background-color: #05668D;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: 1fr;
    display: grid;
    margin: 0 auto;
    top: 0;
    position: fixed;
    left: 0;
    margin-top: -1;
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.45);
}



@media screen and (max-width: 600px) {

    .container {
        width: 100%;
    }

    .footer {
        height: 50px;
    }

    .mittkonto {
       grid-column: 6/24;
    }

    .bokningar {
        grid-column: 3/24;
    }

    .rehabgym {
        grid-column: 5/24;
    }
}

.footer {
    height: 80px;
    width: 100%;
    left: 0;
    background-color: #05668D;
    margin: 0 auto;
    position: absolute;
    -webkit-box-shadow: 0px -10px 5px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px -10px 5px 0px rgba(0,0,0,0.45);
    box-shadow: 0px -10px 5px 0px rgba(0,0,0,0.45);
}

.aside {
    height: auto;
    width: 600px;
    background-color: pink;
    margin: 0 auto;
}